<h1>New translation</h1>

<form action="/wizard_translate">
  <div>
    <label for="body">Enter your message:</label>
    <textarea name="body" id="body"></textarea>
  </div>

  <div>
    <label for="language">Choose a language:</label>
    <select id="language" name="lang">
      <% @languages.each do |language| %>
        <option value="<%= language.code %>">
          <%= language.name %>
        </option>
      <% end %>
    </select>
  </div>

  <div>
    <label for="phone">(Optional) Text a translation to:</label>
    <input id="phone" name="telephone" type="text">
    <small>Format: +19876543210</small>
  </div>

  <button>Translate</button>
</form>
