<!DOCTYPE html>
<html>
  <head>
    <title>Target: Omnicalc 2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%#= csrf_meta_tags %>
    <%#= csp_meta_tag %>
    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags %>
  </head>

  <body>
    <table style="width: 100%" border="1">
      <tr>
        <td>
          <a href="/add">Add</a>
        </td>

        <td>
          <a href="/subtract">Subtract</a>
        </td>

        <td>
          <a href="/multiply">Multiply</a>
        </td>

        <td>
          <a href="/divide">Divide</a>
        </td>
        <!--
        <td>
          <a href="/street_to_coords/new">
            Street to Coordinates
          </a>
        </td>

        <td>
          <a href="/coords_to_weather/new">
            Coordinates to Weather
          </a>
        </td>

        <td>
          <a href="/street_to_weather/new">
            Street to Weather
          </a>
        </td>

        <td>
          <a href="/translate">Translate</a>
        </td>-->
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
